@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap");

#root {
  background-color: #212529;
  height: 100vh;
  box-sizing: border-box;
}

.App {
  justify-content: space-between;
}
.navbar__title {
  color: white;
  font-family: "Sixtyfour", sans-serif;
  font-size: 5rem;
  text-decoration: none;
}

.categorycard {
  height: 340px;
  width: 340px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
}

.categorycard {
}

@media screen and (max-width: 992px) {
  .navbar__title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 576px) {
  .navbar__title {
    font-size: 2rem;
  }

  .categorycard {
    height: 150px;
    width: 150px;
    font-size: 6rem;
  }
}
